# Loading data with Pandas

## Introduction of <code>Pandas</code>

In [13]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\jasji\.virtualenvs\practice_python-m8xlm-c9\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\jasji\.virtualenvs\practice_python-m8xlm-c9\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\jasji\.virtualenvs\practice_python-m8xlm-c9\lib\site-packages (from openpyxl) (2.0.0)

In [15]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [18]:
import pandas as pd

# URL of the CSV file
csv_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

# Read data from CSV into a DataFrame
df = pd.read_csv(csv_path)

# Display the DataFrame
print(df)

            Artist                            Album  Released   Length  \
0  Michael Jackson                         Thriller      1982  0:42:19
1            AC/DC                    Back in Black      1980  0:42:11
2       Pink Floyd        The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston                    The Bodyguard      1992  0:57:44
4        Meat Loaf                  Bat Out of Hell      1977  0:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976  0:43:08
6         Bee Gees             Saturday Night Fever      1977  1:15:54
7    Fleetwood Mac                          Rumours      1977  0:40:01

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6
5   rock, soft rock, folk rock                              32.2
6                        disco                              20.6
7                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0
5                        42  17-Feb-76        NaN     7.5
6                        40  15-Nov-77          Y     7.0
7                        40  04-Feb-77        NaN     6.5

In [19]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [20]:
xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

## Quiz on DataFrame

<b> 1) Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [21]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

<b> 2) Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [22]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

<b> 3) Access the 2nd row and the 3rd column of <code>df</code>:

In [23]:
# Write your code below and press Shift+Enter to execute
df.iloc[1, 2]

np.int64(1980)

<b> 4) Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [24]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object